.imagecontainer{
    margin-top: 60px;
  
}
.imagecontainer img{
   width:250px;
   height:250px;
   display: block;
   margin-left: auto;
   margin-right: auto;

}
.textcontainer{
    text-align: center;
}
.parentcontainer{
    margin: 38px;
  
    /* width: 100vw;
    height: 100vh; */
}
h1{
    letter-spacing: 1px;
    font-size: 1.4rem;
    padding-top: 12px;
    font-weight: 700;
    line-height: 25px;
    color: #2b4183;
}
.buttoncontainer{
    display: flex;
    justify-content: right;
}
 .detaillink{
 text-decoration: none;
 line-height: 30px;
 color: #616161;
 font-weight: 800;
}